html {
	width: 100%;
}

body {
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	color: white;
	font-size: 60px;
}

.container {
    margin: auto; 
    display: center;
    align-items: center; 
	width: 100%;
}


.top-buffer { margin-top:20px; }